## Shared networking feature fragment.
## This file is merged after each target-specific config.

CONFIG_PACKAGE_ip-full=y
# CONFIG_PACKAGE_ip-tiny is not set

CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-mpls=y

CONFIG_PACKAGE_kmod-brutal=y
CONFIG_PACKAGE_brutalctl=y

CONFIG_PACKAGE_kmod-nf_deaf=y

CONFIG_PACKAGE_kmod-amneziawg=y
CONFIG_PACKAGE_amneziawg-tools=y
CONFIG_PACKAGE_luci-proto-amneziawg=y
